*.suo
bin
obj
*.pdb
*.user
*.VC.db
/Help
/.vs
/packages
/Wix
/BuildArtifacts/Debug
/BuildArtifacts/Release
/deployment/RepDB.dll
/deployment/NCCCtrl.dll
/deployment/INCCCmd.exe.config
/deployment/INCCCmd.exe
/deployment/INCC6.sqlite
/deployment/INCC6.exe.config
/deployment/INCC6.exe
/deployment/drop_INCC6_sqlserver.sql
/deployment/drop_INCC6_sqlite.sql
/deployment/Defs.dll
/deployment/Default.sqlite
/deployment/create_INCC6_sqlserver.sql
/deployment/create_INCC6_sqlite.sql
