<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- gcServer manages garbage collection in a more consistent manner for data intensive computations  -->
  <runtime>
    <gcServer enabled="true"/>
    <enforceFIPSPolicy enabled="false"/>
  </runtime>

  <!-- This element permits .NET 3.5 assemblies like System.Data.SQLite to be used without modification with .NET 4; err umm OK. -->
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>

  <!-- INCC6 config, see INCCCmd -help for details -->
  <appSettings file="">
    <add key="MyProviderName" value="System.Data.SQLite"/>
    <add key="MyDBConnectionString" value="Data Source=.\INCC6.SQLite;Version=3;New=False;Compress=True;foreign_keys=on;"/>
  </appSettings>

  <!--  test pairs
      // SQLite3
    <add key="MyProviderName" value="System.Data.SQLite" />
    <add key="MyDBConnectionString" value="Data Source=.\INCC6.SQLite;Version=3;New=False;Compress=True;foreign_keys=on;automatic_index=off;" />
  
    // for SQL Server (maybe)
    <add key="MyProviderName" value="System.Data.SqlClient" /> 
    <add key="MyDBConnectionString" value="Server=Febrile.lanl.gov;Database=incc_alpha;Trusted_Connection=True;" />
    
    //for SQL Server CE 4
    <add key="MyProviderName" value="System.Data.SqlServerCe.4.0" /> 
    <add key="MyDBConnectionString" value="Data Source=INCC6.sdf;File Mode=Read Write;Persist Security Info=False;" />
    
    // MS Access 2007 on XP x32
    <add key="MyProviderName" value="System.Data.OleDb" />
    <add key="MyDBConnectionString" value="Data Source=.\INCC6.accdb;Provider=Microsoft.ACE.OLEDB.12.0" />
    
    // 32bit XP, uses Jet and MDAC, from ye olden days of yore
    <add key="MyProviderName" value="System.Data.OleDb" />
    <add key="MyDBConnectionString" value="Data Source=.\INCC6.mdb;Provider=Microsoft.Jet.OLEDB.4.0" />
    
    //for W 7 or x64, post Jet and MDAC
    <add key="MyProviderName" value="System.Data.OleDb" /> 
    <add key="MyDBConnectionString" value="Data Source=.\INCC6.mdb;Provider=Microsoft.ACE.OLEDB.12.0" />
  -->

  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.OleDb"/>
      <remove invariant="System.Data.SQLite"/>
      <remove invariant="System.Data.SqlServerCe.4.0"/>
      <remove invariant="System.Data.SqlClient"/>

      <!-- SQLite is the de facto provider of choice, this entry adds the preferred provider for SQLite for .NET -->
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".Net Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite"/>

      <!-- SQL Server CE 4  (not doing 3.5, only 4) -->
      <add name="Microsoft SQL Server Compact Data Provider 4.0" invariant="System.Data.SqlServerCe.4.0" description=".NET Framework Data Provider for Microsoft SQL Server Compact" type="System.Data.SqlServerCe.SqlCeProviderFactory, System.Data.SqlServerCe, Version=4.0.0.1, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>

      <!-- Add new providers here. Several of interest are installed with .NET 4 System.Data. 
           These do not need external config assemblies, unlike SQLite and SQL Server CE 4, 
           e.g. SQLExpress, SQLServer Client, OleDb. and Compact CE 3.5. -->
      <add name="Access Data Provider" invariant="System.Data.OleDb" description=".Net Framework Data Provider for OleDb" type="System.Data.OleDb.OleDbFactory, System.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>

      <!-- SQL Server 2008 R2 - .NET 4 + others -->
      <add name="SqlClient Data Provider" invariant="System.Data.SqlClient" description=".Net Framework Data Provider for SqlServer" type="System.Data.SqlClient.SqlClientFactory, System.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>

    </DbProviderFactories>
  </system.data>


  <system.diagnostics>
    <!-- Four listeners collect trace and log messages from the LM code subsystems.
          
      The console listener writes directly to the console. But only in the console version of the software.
          
      The WPF listener writes to a list box window in the Windows form-based incarnation of the console listener.
          
      The FileLog listener writes to an external file. Fields are tab-delimited. The file location is set with the logloc command line option.
      FileLog output file naming is based on detector and date, and cannot be changed here.
          
      The DBErrorLog listener writes to the database specified with the MyProviderName and MyDBConnectionString config entries.
      The database must have a table named notification_log with at least two fields, msg, an nvarchar field of at least 256, and ts, a timestamp type.
      Warning and error messages are filtered using the EventTypeFilter setting, blocking info and verbose entries.           
          -->

    <sharedListeners>
      <add name="console" type="System.Diagnostics.ConsoleTraceListener">
        <filter type="System.Diagnostics.EventTypeFilter" initializeData="Information"/>
      </add>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter" Location="ExecutableDirectory" LogFileCreationSchedule="Daily"/>
      <!-- logs only warning and error message to a DB table -->
      <add name="DBErrorLog" type="DB.DBListener, RepDB">
        <filter type="System.Diagnostics.EventTypeFilter" initializeData="Warning"/>
      </add>
      <!-- experiment -->
      <add name="WPF" type="NCCConfig.WPFListener, RepDB">
        <filter type="System.Diagnostics.EventTypeFilter" initializeData="Information"/>
      </add>
    </sharedListeners>

    <sources>
      <source name="Collect" switchName="CollectSwitch" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <add name="console"/>
          <add name="FileLog"/>
          <add name="DBErrorLog"/>
          <add name="WPF"/>
          <remove name="Default"/>
        </listeners>
      </source>
      <source name="Control" switchName="ControlSwitch" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <add name="console"/>
          <add name="FileLog"/>
          <add name="DBErrorLog"/>
          <add name="WPF"/>
          <remove name="Default"/>
        </listeners>
      </source>
      <source name="Data" switchName="DataSwitch" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <add name="console"/>
          <add name="FileLog"/>
          <add name="DBErrorLog"/>
          <add name="WPF"/>
          <remove name="Default"/>
        </listeners>
      </source>
      <source name="Analysis" switchName="AnalysisSwitch" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <add name="console"/>
          <add name="FileLog"/>
          <add name="DBErrorLog"/>
          <add name="WPF"/>
          <remove name="Default"/>
        </listeners>
      </source>
      <source name="App" switchName="AppSwitch" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <add name="WPF"/>
          <add name="console"/>
          <add name="FileLog"/>
          <add name="DBErrorLog"/>
          <remove name="Default"/>
        </listeners>
      </source>
      <source name="DB" switchName="DBSwitch" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <add name="console"/>
          <add name="DBErrorLog"/>
          <add name="FileLog"/>
          <add name="WPF"/>
          <remove name="Default"/>
        </listeners>
      </source>
    </sources>

    <switches>
      <add name="CollectSwitch" value="Information"/>
      <add name="AnalysisSwitch" value="Information"/>
      <add name="DataSwitch" value="Information"/>
      <add name="ControlSwitch" value="Information"/>
      <add name="AppSwitch" value="Information"/>
      <add name="DBSwitch" value="Information"/>
    </switches>

    <trace>
      <listeners>
        <add name="console"/>
        <add name="FileLog"/>
        <add name="DBErrorLog"/>
        <add name="WPF"/>
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>
