<style type="text/css">
.d2h { }
.d2hCell	{
	width: 80px;
	cursor: hand;
	border-right: 1px solid #FFFFFF; 
	text-align: center;}
a.D2HContentsSelected
{ %VisitedStyleNavigatorContents% }
a.D2HContentsUnselected
{ %UnvisitedStyleNavigatorContents% }
a:hover.D2HContentsSelected
{ %RolloverStyleNavigatorContents% }
a:hover.D2HContentsUnselected
{ %RolloverStyleNavigatorContents% }
a.D2HIndexSelected
{ %VisitedStyleNavigatorIndex% }
a.D2HIndexUnselected
{ %UnvisitedStyleNavigatorIndex% }
a:hover.D2HIndexSelected
{ %RolloverStyleNavigatorIndex% }
a:hover.D2HIndexUnselected
{ %RolloverStyleNavigatorIndex% }
a.D2HPreviousEnabled
{  font-family: Verdana; font-size: 8.25pt; font-style: normal; font-weight: normal; text-decoration:  underline; color: Blue; }
a:hover.D2HPreviousEnabled
{  font-family: Verdana; font-size: 8.25pt; font-style: normal; font-weight: normal; text-decoration:  underline; color: Red; }
span.D2HPreviousDisabled
{  font-family: Verdana; font-size: 8.25pt; font-style: normal; font-weight: normal; text-decoration:  none; color: Black; }
a.D2HNextEnabled
{  font-family: Verdana; font-size: 8.25pt; font-style: normal; font-weight: normal; text-decoration:  underline; color: Blue; }
a:hover.D2HNextEnabled
{  font-family: Verdana; font-size: 8.25pt; font-style: normal; font-weight: normal; text-decoration:  underline; color: Red; }
span.D2HNextDisabled
{  font-family: Verdana; font-size: 8.25pt; font-style: normal; font-weight: normal; text-decoration:  none; color: Black; }
span.d2h_breadcrumbsContentsOnly
{  font-family: Verdana; font-size: 8pt; font-style: normal; font-weight: normal; text-decoration:  none; color: Black; }
a.d2h_breadcrumbsNormal
{  font-family: Verdana; font-size: 8pt; font-style: normal; font-weight: normal; text-decoration:  none; color: Blue; }
span.d2h_breadcrumbsSelected
{  font-family: Verdana; font-size: 8pt; font-style: normal; font-weight: normal; text-decoration:  none; color: Purple; }
a:hover.d2h_breadcrumbsNormal
{  font-family: Verdana; font-size: 8pt; font-style: normal; font-weight: normal; text-decoration:  none; color: Red; }
span.d2h_breadcrumbsLabel
{  font-family: Verdana; font-size: 8pt; font-style: normal; font-weight: normal; text-decoration:  none; color: Black; }
span.d2h_breadcrumbsLinkSeparator
{  font-family: Verdana; font-size: 8pt; font-style: normal; font-weight: normal; text-decoration:  none; color: Black; }
div.d2h_breadcrumbs
{ border-bottom: 1px solid gray; }
</style>
